<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E1XD6E8W6H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E1XD6E8W6H');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W4GZFHCG');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <title>Privacy Policy - Blushley</title>

    <meta name="author" content="trivlogic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Blushley Privacy Policy - Beauty Marketplace & Beautician Booking Platform">

    <!-- font -->
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" href="/fonts/font-icons.css">
    <!-- css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut" type="image/x-icon" href="/images/logo/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/logo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/logo/favicon-16x16.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/images/logo/apple-touch-icon.png">

    <style>
        .privacy-content {
            padding: 60px 0;
        }

        .privacy-section {
            margin-bottom: 40px;
        }

        .privacy-section h4 {
            color: #E94E87;
            margin-bottom: 20px;
            font-weight: 600;
        }

        .privacy-section h5 {
            color: #333;
            margin-top: 25px;
            margin-bottom: 15px;
            font-weight: 600;
        }

        .privacy-section p {
            line-height: 1.8;
            color: #666;
            margin-bottom: 15px;
        }

        .privacy-section ul {
            margin-left: 20px;
            margin-bottom: 20px;
        }

        .privacy-section ul li {
            line-height: 1.8;
            color: #666;
            margin-bottom: 10px;
        }

        .highlight-box {
            background: #fff5f8;
            padding: 20px;
            border-left: 4px solid #E94E87;
            margin: 20px 0;
        }

        .contact-info-box {
            background: #f8f9fa;
            padding: 25px;
            border-radius: 8px;
            margin-top: 30px;
        }
    </style>
</head>

<body class="preload-wrapper">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W4GZFHCG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Scroll Top -->
    <button id="scroll-top">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_15741_24194)">
                <path
                    d="M3 11.9175L12 2.91748L21 11.9175H16.5V20.1675C16.5 20.3664 16.421 20.5572 16.2803 20.6978C16.1397 20.8385 15.9489 20.9175 15.75 20.9175H8.25C8.05109 20.9175 7.86032 20.8385 7.71967 20.6978C7.57902 20.5572 7.5 20.3664 7.5 20.1675V11.9175H3Z"
                    stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </g>
            <defs>
                <clipPath id="clip0_15741_24194">
                    <rect width="24" height="24" fill="white" transform="translate(0 0.66748)" />
                </clipPath>
            </defs>
        </svg>
    </button>

    <!-- preload -->
    <div class="preload preload-container-img">
        <div class="preload-logo-img">
            <img src="/images/logo/Blushley-png-logo.png" alt="Blushley Logo" class="logo-img">
        </div>
    </div>

    <!-- #wrapper -->
    <div id="wrapper">

        <!-- Top Bar-->
        <div class="tf-topbar bg-main">
            <div class="container">
                <div class="tf-topbar_wrap d-flex align-items-center justify-content-center justify-content-xl-between">
                    <ul class="topbar-left">
                        <li><a class="text-caption-1 text-white" href="tel:+917994145723">+91 7994 145 723</a></li>
                         <li><a class="text-caption-1 text-white" href="mailto:blushleyoffice@gmail.com">blushleyoffice@gmail.com</a></li>
                        </li>
                    </ul>
                    <div class="topbar-right d-none d-xl-block">
                        <div class="tf-cur justify-content-end">
                            <a class="text-caption-1 text-white text-decoration-none" href="/shop">Our Store</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header -->
        <header id="header" class="header-default">
            <div class="container">
                <div class="row wrapper-header align-items-center">
                    <div class="col-md-4 col-3 d-xl-none">
                        <a href="#mobileMenu" class="mobile-menu" data-bs-toggle="offcanvas" aria-controls="mobileMenu">
                            <i class="icon icon-categories"></i>
                        </a>
                    </div>
                    <div class="col-xl-3 col-md-4 col-6">
                        <a href="/" class="logo-header">
                            <img src="/images/logo/logoggg.png" alt="logo" class="logo">
                        </a>
                    </div>
                    <div class="col-xl-6 d-none d-xl-block">
                        <nav class="box-navigation text-center">
                            <ul class="box-nav-ul d-flex align-items-center justify-content-center">
                                <li class="menu-item">
                                    <a href="/" class="item-link">Home</a>
                                </li>
                                <li class="menu-item"><a href="/about" class="item-link">About</a></li>
                                <li class="menu-item">
                                    <a href="/shop" class="item-link">Shop</a>
                                </li>
                                <li class="menu-item"><a href="/saloon-at-home" class="item-link">Services</a>
                                </li>
                                <li class="menu-item position-relative">
                                    <a href="/userblogs" class="item-link">Blogs</a>
                                </li>
                                <li class="menu-item"><a href="/contact" class="item-link">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-xl-3 col-md-4 col-3">
                        <ul class="nav-icon d-flex justify-content-end align-items-center">
                            <li class="nav-search"><a href="#search" data-bs-toggle="modal" class="nav-icon-item">
                                    <img src="/images/icons/search.svg" alt="search icon">
                                </a></li>
                                <li class="nav-account">
                                    <a href="#" class="nav-icon-item">
                                        <img src="/images/icons/user.svg" alt="user">
                                    </a>
                                
                                    <div class="dropdown-account dropdown-login">
                                        <div class="sub-top">
                                            <% if (!user || user.role !== "user") { %>
                                                <!-- NOT LOGGED IN or Not a normal user -->
                                                <a href="/userLogin" class="nav-acc-link">Login</a>
                                            <% } else { %>
                                                <!-- NORMAL USER -->
                                                <a href="/user-account" class="nav-acc-link">My Account</a>
                                                <a href="/user-orders" class="nav-acc-link">Orders</a>
                                                <a href="/user-addresses" class="nav-acc-link">Addresses</a>
                                                <a href="/userBookings" class="nav-acc-link">My Bookings</a>
                                                <a href="/logout" class="nav-acc-link">Logout</a>
                                            <% } %>
                                        </div>
                                    </div>
                                </li>
                            <li class="nav-wishlist"><a href="/wishlist" class="nav-icon-item">
                                    <img src="/images/icons/heart.svg" alt="wish list">
                                </a>
                            </li>
                            <li class="nav-cart"><a href="#shoppingCart" data-bs-toggle="modal" class="nav-icon-item">
                                    <img src="/images/icons/shopping-bag.svg" alt="cart icon">
                                    <span class="count-box">0</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <!-- page-title -->
        <div class="page-title" style="background-image: url(/images/section/page-title.jpg);">
            <div class="container-full">
                <div class="row">
                    <div class="col-12">
                        <h3 class="heading text-center">PRIVACY POLICY</h3>
                        <h6>Last Updated: November 12, 2025</h6>
                        <ul class="breadcrumbs d-flex align-items-center justify-content-center">
                            <li>
                                <a class="link" href="/">Homepage</a>
                            </li>
                            <li>
                                <i class="icon-arrRight"></i>
                            </li>
                            <li>
                                <a class="link" href="#">Pages</a>
                            </li>
                            <li>
                                <i class="icon-arrRight"></i>
                            </li>
                            <li>
                                Privacy Policy
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Privacy Policy Content -->
        <section class="privacy-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="privacy-section">
                            <h4>1. Introduction</h4>
                            <p>Welcome to Blushley ("we," "our," or "us"). We are committed to protecting your privacy
                                and ensuring the security of your personal information. This Privacy Policy explains how
                                we collect, use, disclose, and safeguard your information when you visit our website,
                                purchase products from our e-commerce store, or book appointments with beauticians and
                                salons through our platform.</p>
                            <div class="highlight-box">
                                <p><strong>By using Blushley, you consent to the data practices described in this
                                        policy.</strong></p>
                            </div>
                        </div>

                        <div class="privacy-section">
                            <h4>2. Information We Collect</h4>

                            <h5>2.1 Personal Information</h5>
                            <p>We collect personal information that you voluntarily provide to us when you:</p>
                            <ul>
                                <li>Create an account on our platform</li>
                                <li>Make a purchase from our store</li>
                                <li>Book an appointment with a beautician or salon</li>
                                <li>Subscribe to our newsletter</li>
                                <li>Contact our customer support</li>
                                <li>Participate in surveys, contests, or promotions</li>
                            </ul>
                            <p>This information may include:</p>
                            <ul>
                                <li>Full name</li>
                                <li>Email address</li>
                                <li>Phone number</li>
                                <li>Billing and shipping address</li>
                                <li>Payment information (processed securely through our payment processors)</li>
                                <li>Appointment preferences and service history</li>
                                <li>Profile picture (optional)</li>
                                <li>Date of birth (for age verification and special offers)</li>
                            </ul>

                            <h5>2.2 Automatically Collected Information</h5>
                            <p>When you access our website, we automatically collect certain information, including:</p>
                            <ul>
                                <li>IP address and device information</li>
                                <li>Browser type and version</li>
                                <li>Operating system</li>
                                <li>Pages visited and time spent on pages</li>
                                <li>Referring website addresses</li>
                                <li>Geographic location data</li>
                                <li>Cookies and similar tracking technologies</li>
                            </ul>

                            <h5>2.3 Booking-Specific Information</h5>
                            <p>For appointment bookings, we collect:</p>
                            <ul>
                                <li>Service preferences and requirements</li>
                                <li>Appointment date, time, and location preferences</li>
                                <li>Special requests or notes</li>
                                <li>Booking history and cancellation records</li>
                                <li>Reviews and ratings of beauticians and services</li>
                            </ul>
                        </div>

                        <div class="privacy-section">
                            <h4>3. How We Use Your Information</h4>
                            <p>We use the collected information for the following purposes:</p>

                            <h5>3.1 E-Commerce Operations</h5>
                            <ul>
                                <li>Process and fulfill your orders</li>
                                <li>Send order confirmations and shipping updates</li>
                                <li>Handle returns, exchanges, and refunds</li>
                                <li>Provide customer support</li>
                                <li>Send marketing communications about products and promotions (with your consent)</li>
                            </ul>

                            <h5>3.2 Appointment Booking Services</h5>
                            <ul>
                                <li>Facilitate appointment bookings with beauticians and salons</li>
                                <li>Send appointment confirmations and reminders</li>
                                <li>Enable communication between you and service providers</li>
                                <li>Process booking-related payments</li>
                                <li>Collect and display reviews and ratings</li>
                            </ul>

                            <h5>3.3 Platform Improvement</h5>
                            <ul>
                                <li>Analyze usage patterns to improve our website and services</li>
                                <li>Personalize your experience and provide recommendations</li>
                                <li>Conduct research and analytics</li>
                                <li>Detect and prevent fraud or security issues</li>
                                <li>Comply with legal obligations</li>
                            </ul>
                        </div>

                        <div class="privacy-section">
                            <h4>4. Information Sharing and Disclosure</h4>
                            <p>We may share your information in the following circumstances:</p>

                            <h5>4.1 Service Providers</h5>
                            <p>We share your information with third-party service providers who perform services on our
                                behalf, including:</p>
                            <ul>
                                <li>Payment processors (for secure transaction processing)</li>
                                <li>Shipping and logistics companies</li>
                                <li>Email service providers</li>
                                <li>Website hosting and maintenance providers</li>
                                <li>Analytics and marketing platforms</li>
                            </ul>

                            <h5>4.2 Beauticians and Salons</h5>
                            <p>When you book an appointment, we share necessary information with the selected beautician
                                or salon, including your name, contact information, appointment details, and any special
                                requirements you've specified.</p>

                            <h5>4.3 Legal Requirements</h5>
                            <p>We may disclose your information if required to do so by law or in response to valid
                                requests by public authorities, including to meet national security or law enforcement
                                requirements.</p>

                            <h5>4.4 Business Transfers</h5>
                            <p>In the event of a merger, acquisition, or sale of assets, your personal information may
                                be transferred to the acquiring entity.</p>
                        </div>

                        <div class="privacy-section">
                            <h4>5. Cookies and Tracking Technologies</h4>
                            <p>We use cookies and similar tracking technologies to enhance your experience on our
                                website:</p>
                            <ul>
                                <li><strong>Essential Cookies:</strong> Necessary for website functionality and security
                                </li>
                                <li><strong>Performance Cookies:</strong> Help us understand how visitors interact with
                                    our website</li>
                                <li><strong>Functional Cookies:</strong> Remember your preferences and personalize your
                                    experience</li>
                                <li><strong>Marketing Cookies:</strong> Track your activity to deliver relevant
                                    advertisements</li>
                            </ul>
                            <p>You can control cookie settings through your browser preferences. Note that disabling
                                certain cookies may affect website functionality.</p>
                        </div>

                        <div class="privacy-section">
                            <h4>6. Data Security</h4>
                            <p>We implement appropriate technical and organizational security measures to protect your
                                personal information, including:</p>
                            <ul>
                                <li>SSL/TLS encryption for data transmission</li>
                                <li>Secure payment processing through PCI-DSS compliant providers</li>
                                <li>Regular security assessments and updates</li>
                                <li>Access controls and authentication measures</li>
                                <li>Employee training on data protection</li>
                            </ul>
                            <p>However, no method of transmission over the internet or electronic storage is 100%
                                secure. While we strive to protect your information, we cannot guarantee absolute
                                security.</p>
                        </div>

                        <div class="privacy-section">
                            <h4>7. Your Privacy Rights</h4>
                            <p>Depending on your location, you may have the following rights regarding your personal
                                information:</p>
                            <ul>
                                <li><strong>Access:</strong> Request a copy of the personal information we hold about
                                    you</li>
                                <li><strong>Correction:</strong> Request correction of inaccurate or incomplete
                                    information</li>
                                <li><strong>Deletion:</strong> Request deletion of your personal information (subject to
                                    legal obligations)</li>
                                <li><strong>Portability:</strong> Request transfer of your data to another service
                                    provider</li>
                                <li><strong>Objection:</strong> Object to processing of your personal information for
                                    certain purposes</li>
                                <li><strong>Withdraw Consent:</strong> Withdraw consent for marketing communications at
                                    any time</li>
                                <li><strong>Opt-Out:</strong> Opt out of targeted advertising</li>
                            </ul>
                            <p>To exercise these rights, please contact us using the information provided below.</p>
                        </div>

                        <div class="privacy-section">
                            <h4>8. Data Retention</h4>
                            <p>We retain your personal information for as long as necessary to fulfill the purposes
                                outlined in this Privacy Policy, unless a longer retention period is required or
                                permitted by law. Factors affecting retention periods include:</p>
                            <ul>
                                <li>Duration of our relationship with you</li>
                                <li>Legal, accounting, or reporting requirements</li>
                                <li>Resolution of disputes and enforcement of agreements</li>
                                <li>Protection against fraud and security incidents</li>
                            </ul>
                        </div>

                        <div class="privacy-section">
                            <h4>9. Third-Party Links</h4>
                            <p>Our website may contain links to third-party websites, including social media platforms
                                and partner websites. We are not responsible for the privacy practices of these external
                                sites. We encourage you to read their privacy policies before providing any personal
                                information.</p>
                        </div>

                        <div class="privacy-section">
                            <h4>10. Children's Privacy</h4>
                            <p>Our services are not intended for individuals under the age of 18. We do not knowingly
                                collect personal information from children. If you believe we have inadvertently
                                collected information from a child, please contact us immediately so we can delete it.
                            </p>
                        </div>

                        <div class="privacy-section">
                            <h4>11. International Data Transfers</h4>
                            <p>Your information may be transferred to and processed in countries other than your country
                                of residence. These countries may have different data protection laws. By using our
                                services, you consent to the transfer of your information to these countries.</p>
                        </div>

                        <div class="privacy-section">
                            <h4>12. Changes to This Privacy Policy</h4>
                            <p>We may update this Privacy Policy from time to time to reflect changes in our practices
                                or legal requirements. We will notify you of any material changes by:</p>
                            <ul>
                                <li>Posting the updated policy on our website</li>
                                <li>Updating the "Last Updated" date at the top of this policy</li>
                                <li>Sending an email notification for significant changes</li>
                            </ul>
                            <p>We encourage you to review this Privacy Policy periodically to stay informed about how we
                                protect your information.</p>
                        </div>

                        <div class="privacy-section">
                            <h4>13. California Privacy Rights (CCPA)</h4>
                            <p>If you are a California resident, you have additional rights under the California
                                Consumer Privacy Act (CCPA):</p>
                            <ul>
                                <li>Right to know what personal information is collected, used, and shared</li>
                                <li>Right to delete personal information</li>
                                <li>Right to opt-out of the sale of personal information</li>
                                <li>Right to non-discrimination for exercising your privacy rights</li>
                            </ul>
                            <p><strong>We do not sell your personal information.</strong></p>
                        </div>

                        <div class="privacy-section">
                            <h4>14. Contact Us</h4>
                            <p>If you have any questions, concerns, or requests regarding this Privacy Policy or our
                                data practices, please contact us:</p>

                            <div class="contact-info-box">
                                <p><strong>Blushley</strong></p>
                                <p><strong>Email:</strong> <a href="mailto:blushleyoffice@gmail.com">blushleyoffice@gmail.com</a>
                                </p>
                                <p><strong>Phone:</strong> <a href="tel:+917994145723">+91 7994 145 723</a></p>
                                <p><strong>Contact Page:</strong> <a href="/contact">Visit our Contact Page</a>
                                </p>
                                <p style="margin-bottom: 0;"><strong>Response Time:</strong> We aim to respond to all
                                    privacy-related inquiries within 30 days.</p>
                            </div>
                        </div>

                        <div class="privacy-section">
                            <div class="highlight-box">
                                <p style="margin-bottom: 0;"><strong>Your privacy matters to us.</strong> Thank you for
                                    trusting Blushley with your personal information. We are committed to maintaining
                                    that trust through transparent and responsible data practices.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer" class="footer">
            <div class="footer-wrap">
                <div class="footer-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="footer-infor">
                                    <div class="footer-logo">
                                        <a href="/">
                                            <img src="/images/logo/blushley-png-without-shade.png" alt="">
                                        </a>
                                    </div>
                                    <p>Premium beauty products and professional beautician services. Shop skincare,
                                        makeup, and hair care essentials, or book appointments with our network of
                                        experienced beauticians.</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="footer-menu footer-menu-texts">
                                    <div class="footer-col-block">
                                        <div class="footer-heading text-button footer-heading-mobile">
                                            Information
                                        </div>
                                        <div class="tf-collapse-content">
                                            <ul class="footer-menu-list">
                                                <li class="text-caption-1">
                                                    <a href="/about" class="footer-menu_item">About Us</a>
                                                </li>
                                                <li class="text-caption-1">
                                                    <a href="/contact" class="footer-menu_item">Contact us</a>
                                                </li>
                                                <li class="text-caption-1">
                                                    <a href="/user-account" class="footer-menu_item">My Account</a>
                                                </li>
                                                <li class="text-caption-1">
                                                    <a href="/terms_and_conditions" class="footer-menu_item">Terms &
                                                        Conditions</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="footer-col-block">
                                        <div class="footer-heading text-button footer-heading-mobile">
                                            Services
                                        </div>
                                        <div class="tf-collapse-content">
                                            <ul class="footer-menu-list">
                                                <li class="text-caption-1">
                                                    <a href="/user-orders" class="footer-menu_item">My
                                                        Orders</a>
                                                </li>
                                                <li class="text-caption-1">
                                                    <a href="#" class="footer-menu_item">Return & Refund</a>
                                                </li>
                                                <li class="text-caption-1">
                                                    <a href="/wishlist" class="footer-menu_item">My Wishlist</a>
                                                </li>
                                                <li class="text-caption-1">
                                                    <a href="/privacy_policy" class="footer-menu_item">Privacy Policy</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="footer-heading text-button footer-heading-mobile">
                                    contact us
                                </div>
                                <div class="footer-address">
                                    <p>Trivandrum, Kerala</p>
                                </div>
                                <ul class="footer-info">
                                    <li>
                                        <i class="icon-mail"></i>
                                        <p><a  href="mailto:blushleyoffice@gmail.com">blushleyoffice@gmail.com</a></p>
                                    </li>
                                    <li>
                                        <i class="icon-phone"></i>
                                                                 <p><a class="ft-number" href="tel:+917994145723">+91 7994 145 723</a></p>
                                    </li>
                                </ul>
                                <div class="tf-cur mt-3">
                                    <ul class="tf-social-icon">
                                        <li><a href="#" class="social-facebook"><i class="icon icon-fb"></i></a></li>
                                        <li><a href="#" class="social-twiter"><i class="icon icon-x"></i></a></li>
                                        <li><a href="#" class="social-instagram"><i class="icon icon-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="footer-bottom-wrap">
                                    <div class="left">
                                        <p class="text-caption-1">©2025 Blushley. All Rights Reserved.| Developed by Trivlogic Private Limited</p>

                                    </div>
                                    <div class="tf-payment">
                                        <p class="text-caption-1">Payment:</p>
                                        <ul>
                                            <li><img src="/images/payment/img-1.png" alt=""></li>
                                            <li><img src="/images/payment/img-2.png" alt=""></li>
                                            <li><img src="/images/payment/img-3.png" alt=""></li>
                                            <li><img src="/images/payment/img-4.png" alt=""></li>
                                            <li><img src="/images/payment/img-5.png" alt=""></li>
                                            <li><img src="/images/payment/img-6.png" alt=""></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <div class="modal fullRight fade modal-shopping-cart" id="shoppingCart">
        <div class="modal-dialog">
            <div class="modal-content">
    
                <div class="d-flex flex-column flex-grow-1 h-100">
                    <div class="header">
                        <h5 class="title">Shopping Cart</h5>
                        <span class="icon-close icon-close-popup" data-bs-dismiss="modal"></span>
                    </div>
    
                    <div class="wrap">
                        <div class="tf-mini-cart-wrap">
    
                            <!-- MAIN CART SCROLL AREA -->
                            <div class="tf-mini-cart-main">
                                <div class="tf-mini-cart-sroll">
    
                                    <!-- *********************************** -->
                                    <!-- THIS IS THE ONLY CHANGE YOU MUST KEEP -->
                                    <!-- *********************************** -->
                                    <div class="tf-mini-cart-items"></div>
                                    <!-- cart.js will dynamically append items here -->
    
                                </div>
                            </div>
    
                            <!-- BOTTOM SECTION -->
                            <div class="tf-mini-cart-bottom">
                                <div class="tf-mini-cart-tool"></div>
    
                                <div class="tf-mini-cart-bottom-wrap">
                                    <div class="tf-cart-totals-discounts">
                                        <h5>Subtotal</h5>
    
                                        <!-- REQUIRED for JS -->
                                        <h5 class="tf-totals-total-value">₹0</h5>
                                    </div>
    
                                    <div class="tf-cart-checkbox">
                                        <div class="tf-checkbox-wrapp">
                                            <input type="checkbox" id="CartDrawer-Form_agree">
                                            <div><i class="icon-check"></i></div>
                                        </div>
                                        <label for="CartDrawer-Form_agree">
                                            I agree with
                                            <a href="/terms_and_conditions">Terms & Conditions</a>
                                        </label>
                                    </div>
    
                                    <div class="tf-mini-cart-view-checkout">
                                        <a href="/cart" class="tf-btn w-100 btn-white radius-4 has-border">
                                            <span class="text">View cart</span>
                                        </a>
                                        <a href="/cart" class="tf-btn w-100 btn-fill radius-4">
                                            <span class="text">Check Out</span>
                                        </a>
                                    </div>
    
                                    <div class="text-center">
                                        <a class="link text-btn-uppercase" href="/shop">Or continue shopping</a>
                                    </div>
                                </div>
                            </div>
    
                            <!-- EXTRA FEATURES (no change) -->
                            <div class="tf-mini-cart-tool-openable add-note">
                                <div class="tf-mini-cart-tool-content">
                                    <label for="Cart-note" class="tf-mini-cart-tool-text">
                                        <span class="icon">📝</span>
                                        <span class="text-title">Note</span>
                                    </label>
    
                                    <form class="form-add-note tf-mini-cart-tool-wrap">
                                        <fieldset>
                                            <textarea id="Cart-note"
                                                placeholder="Add special instructions for your order..."></textarea>
                                        </fieldset>
                                        <div class="tf-cart-tool-btns">
                                            <button type="submit" class="btn-style-2 w-100">
                                                <span class="text text-btn-uppercase">Save</span>
                                            </button>
                                            <div class="text-center tf-mini-cart-tool-close">Cancel</div>
                                        </div>
                                    </form>
                                </div>
                            </div>
    
                            <div class="tf-mini-cart-tool-openable estimate-shipping">
                                <div class="tf-mini-cart-tool-content">
                                    <label class="tf-mini-cart-tool-text">
                                        <span class="icon">🚚</span>
                                        <span class="text-title">Estimate shipping rates</span>
                                    </label>
                                    <!-- Shipping form unchanged -->
                                </div>
                            </div>
    
                            <div class="tf-mini-cart-tool-openable add-gift">
                                <form class="tf-product-form-addgift">
                                    <!-- unchanged -->
                                </form>
                            </div>
    
                            <div class="tf-mini-cart-tool-openable add-coupon">
                                <div class="tf-mini-cart-tool-content">
                                    <label class="tf-mini-cart-tool-text">
                                        <span class="icon">🎟</span>
                                        <span class="text-title">Add A Coupon Code</span>
                                    </label>
                                    <form class="form-add-coupon tf-mini-cart-tool-wrap">
                                        <!-- unchanged -->
                                    </form>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>
    <!-- Javascript -->
    <script type="text/javascript" src="/js/cart.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

</body>

</html>